@model KalinBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<div>
    <h4>Постове</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Съдържание
        </dt>

        <dd>
            <textarea disabled ="disabled" rows="20" class="form-control text-box multi-line">@Model.Body</textarea>
            
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("редактирай", "Edit", new { id = Model.Id }) 
    @Html.ActionLink("назад", "Index")
</p>
